<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <img slot="start" alt="Icone do Asilo Arkhan" src="https://cdn-icons-png.flaticon.com/512/4561/4561054.png" class="toolbar-icon"/>
      <ion-title>Menu Arkhan</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  <ion-button expand="block" (click)="agenda()">agenda</ion-button>
  <ion-button expand="block" (click)="funcionario()">funcionario</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <img slot="start" alt="Icone do Asilo Arkhan" src="https://cdn-icons-png.flaticon.com/512/4561/4561054.png" class="toolbar-icon" />
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Asilo Arkhan</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Colocar algo no inicial 
  </ion-content>
</div>