
  .toolbar-icon {
    width: 32px;
    height: 32px;
  }
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(106, 63, 248, 0.18);
  }
  ion-menu::part(backdrop) {
    background-color: rgba(253, 253, 253, 0.5);
  }